<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f2f27d9c09a8a1a2170f864cd2eeaa7e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_f2f27d9c09a8a1a2170f864cd2eeaa7e" ></div>
        
</body>
<script>
    
    
            var map_f2f27d9c09a8a1a2170f864cd2eeaa7e = L.map(
                "map_f2f27d9c09a8a1a2170f864cd2eeaa7e",
                {
                    center: [52.23209, 21.007139],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_a07f0c0ee4626f4e19400a09921dbf26 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}",
                {
  "minZoom": 0,
  "maxZoom": 18,
  "maxNativeZoom": 18,
  "noWrap": false,
  "attribution": "Tiles \u0026copy; Esri \u0026mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_a07f0c0ee4626f4e19400a09921dbf26.addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var marker_90262deeef5ed10527125f1295c68295 = L.marker(
                [52.098052124993984, 23.709410597468377],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_29326d08d3d73a1b4ebbbdebc2f83aa1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a92469c2827a5b05a0c8e1dc84b6f7c6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d5e88357da12143c47a061898c85bed0 = $(`<div id="html_d5e88357da12143c47a061898c85bed0" style="width: 100.0%; height: 100.0%;">2-й Минский переулок</div>`)[0];
                popup_a92469c2827a5b05a0c8e1dc84b6f7c6.setContent(html_d5e88357da12143c47a061898c85bed0);
            
        

        marker_90262deeef5ed10527125f1295c68295.bindPopup(popup_a92469c2827a5b05a0c8e1dc84b6f7c6)
        ;

        
    
    
            marker_90262deeef5ed10527125f1295c68295.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_90262deeef5ed10527125f1295c68295.setIcon(icon_29326d08d3d73a1b4ebbbdebc2f83aa1);
            
    
            var marker_be0d1c505209a54704a9e4417103eb4a = L.marker(
                [53.53192017666446, 23.6849163857056],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_b9412ef766da4c780f39f527da5dcdf1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a99a8574a02d8c8ba407e50ba4f690a8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ce69abf2742553d8c84c8c978f4053d9 = $(`<div id="html_ce69abf2742553d8c84c8c978f4053d9" style="width: 100.0%; height: 100.0%;">Белоруснефть №84</div>`)[0];
                popup_a99a8574a02d8c8ba407e50ba4f690a8.setContent(html_ce69abf2742553d8c84c8c978f4053d9);
            
        

        marker_be0d1c505209a54704a9e4417103eb4a.bindPopup(popup_a99a8574a02d8c8ba407e50ba4f690a8)
        ;

        
    
    
            marker_be0d1c505209a54704a9e4417103eb4a.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_be0d1c505209a54704a9e4417103eb4a.setIcon(icon_b9412ef766da4c780f39f527da5dcdf1);
            
    
            var marker_295236dbad85108fbf71b81c6256a929 = L.marker(
                [54.4400657348601, 25.9661017354431],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_04d561ae43d2976bbc799c5c27de3964 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_bc634b5d0a8b52eef7cdf8b241a95ad9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a69d48b70e0018a6fb3191b8fa763cd8 = $(`<div id="html_a69d48b70e0018a6fb3191b8fa763cd8" style="width: 100.0%; height: 100.0%;">Belorusneft station 81</div>`)[0];
                popup_bc634b5d0a8b52eef7cdf8b241a95ad9.setContent(html_a69d48b70e0018a6fb3191b8fa763cd8);
            
        

        marker_295236dbad85108fbf71b81c6256a929.bindPopup(popup_bc634b5d0a8b52eef7cdf8b241a95ad9)
        ;

        
    
    
            marker_295236dbad85108fbf71b81c6256a929.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_295236dbad85108fbf71b81c6256a929.setIcon(icon_04d561ae43d2976bbc799c5c27de3964);
            
    
            var marker_137d56bb8dd738738d0e0e83eaf7630c = L.marker(
                [54.0514268, 26.7694581000001],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_24a7b44b6799af7d331ac9dad4e15a84 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_ab1474fe15e4d03906bad60573310926 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_91c1daf24ef08bfe2c4def5636b9ae33 = $(`<div id="html_91c1daf24ef08bfe2c4def5636b9ae33" style="width: 100.0%; height: 100.0%;">Belorusneft station 38</div>`)[0];
                popup_ab1474fe15e4d03906bad60573310926.setContent(html_91c1daf24ef08bfe2c4def5636b9ae33);
            
        

        marker_137d56bb8dd738738d0e0e83eaf7630c.bindPopup(popup_ab1474fe15e4d03906bad60573310926)
        ;

        
    
    
            marker_137d56bb8dd738738d0e0e83eaf7630c.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_137d56bb8dd738738d0e0e83eaf7630c.setIcon(icon_24a7b44b6799af7d331ac9dad4e15a84);
            
    
            var marker_ab4df71d44993283910547775e16d271 = L.marker(
                [53.91159402632181, 27.414365972905596],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_873b6a7c752bf3890cdd0ecd53b8f424 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d159f5b1ed955901337010fb0f08ecec = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a7b098109e4999bdf8535af8ba0d615b = $(`<div id="html_a7b098109e4999bdf8535af8ba0d615b" style="width: 100.0%; height: 100.0%;">Ул. Каменногорская, 3/1 (TZone)</div>`)[0];
                popup_d159f5b1ed955901337010fb0f08ecec.setContent(html_a7b098109e4999bdf8535af8ba0d615b);
            
        

        marker_ab4df71d44993283910547775e16d271.bindPopup(popup_d159f5b1ed955901337010fb0f08ecec)
        ;

        
    
    
            marker_ab4df71d44993283910547775e16d271.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_ab4df71d44993283910547775e16d271.setIcon(icon_873b6a7c752bf3890cdd0ecd53b8f424);
            
    
            var marker_ca1d47eec405cbc0ecbf5c9dd97579a7 = L.marker(
                [53.84310851478935, 27.474706717910067],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_1bc194f768590ed7bf0a1d8d5c3e2ee5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_cefa823368bcd2ed5940b584a61a9c08 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_650687723b3021b0b2ff81f75b2daae3 = $(`<div id="html_650687723b3021b0b2ff81f75b2daae3" style="width: 100.0%; height: 100.0%;">ул. Наполеона Орды, 6 (BKM Holding)</div>`)[0];
                popup_cefa823368bcd2ed5940b584a61a9c08.setContent(html_650687723b3021b0b2ff81f75b2daae3);
            
        

        marker_ca1d47eec405cbc0ecbf5c9dd97579a7.bindPopup(popup_cefa823368bcd2ed5940b584a61a9c08)
        ;

        
    
    
            marker_ca1d47eec405cbc0ecbf5c9dd97579a7.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_ca1d47eec405cbc0ecbf5c9dd97579a7.setIcon(icon_1bc194f768590ed7bf0a1d8d5c3e2ee5);
            
    
            var marker_7bed66b2fb3d9692f1d7e4d5a5f28590 = L.marker(
                [53.8847280309017, 27.449657473114712],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_1590d844e1967f526dd3a0f31d010bdf = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_79341cfe59f6ddd8a89012591c402802 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc63e96696e6a7c934718796d2bbc879 = $(`<div id="html_bc63e96696e6a7c934718796d2bbc879" style="width: 100.0%; height: 100.0%;">вуліца Шаранговіча</div>`)[0];
                popup_79341cfe59f6ddd8a89012591c402802.setContent(html_bc63e96696e6a7c934718796d2bbc879);
            
        

        marker_7bed66b2fb3d9692f1d7e4d5a5f28590.bindPopup(popup_79341cfe59f6ddd8a89012591c402802)
        ;

        
    
    
            marker_7bed66b2fb3d9692f1d7e4d5a5f28590.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7bed66b2fb3d9692f1d7e4d5a5f28590.setIcon(icon_1590d844e1967f526dd3a0f31d010bdf);
            
    
            var marker_db6696ce2913907d93f3876dde0d8b9f = L.marker(
                [53.86009698632602, 27.478013325643744],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_a8dcf347e47c10fa0dc6ffef8c2ceb09 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2e7fbbae994d427c54d541fa8a058849 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bb25ec42ce2ad76209740e7eb71432d0 = $(`<div id="html_bb25ec42ce2ad76209740e7eb71432d0" style="width: 100.0%; height: 100.0%;">Пр-т Дзержинского, 104 (TZone)</div>`)[0];
                popup_2e7fbbae994d427c54d541fa8a058849.setContent(html_bb25ec42ce2ad76209740e7eb71432d0);
            
        

        marker_db6696ce2913907d93f3876dde0d8b9f.bindPopup(popup_2e7fbbae994d427c54d541fa8a058849)
        ;

        
    
    
            marker_db6696ce2913907d93f3876dde0d8b9f.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_db6696ce2913907d93f3876dde0d8b9f.setIcon(icon_a8dcf347e47c10fa0dc6ffef8c2ceb09);
            
    
            var marker_565f5a18d6ce7789596883ea511e0a49 = L.marker(
                [53.91637130289331, 27.458121096198774],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_1e0d8ad6ec1913a01301a99d46e17356 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_31aa2642bbbc564ac36d80d18b584326 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5ba486a285897cae8036e4d44179fe69 = $(`<div id="html_5ba486a285897cae8036e4d44179fe69" style="width: 100.0%; height: 100.0%;">ул. Матусевича, 35г (TZone)</div>`)[0];
                popup_31aa2642bbbc564ac36d80d18b584326.setContent(html_5ba486a285897cae8036e4d44179fe69);
            
        

        marker_565f5a18d6ce7789596883ea511e0a49.bindPopup(popup_31aa2642bbbc564ac36d80d18b584326)
        ;

        
    
    
            marker_565f5a18d6ce7789596883ea511e0a49.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_565f5a18d6ce7789596883ea511e0a49.setIcon(icon_1e0d8ad6ec1913a01301a99d46e17356);
            
    
            var marker_7840651ac6719b206f56659d7b07d234 = L.marker(
                [53.93267129521828, 27.458229671704082],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_926a9715da232486282a1b669ad12b5e = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_5ea55efd7636d76522f08f382a7e9564 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_233d9474a5c52c09acaeeb381b99c7ef = $(`<div id="html_233d9474a5c52c09acaeeb381b99c7ef" style="width: 100.0%; height: 100.0%;">Ул. Тимирязева, 123/2 (TZone)</div>`)[0];
                popup_5ea55efd7636d76522f08f382a7e9564.setContent(html_233d9474a5c52c09acaeeb381b99c7ef);
            
        

        marker_7840651ac6719b206f56659d7b07d234.bindPopup(popup_5ea55efd7636d76522f08f382a7e9564)
        ;

        
    
    
            marker_7840651ac6719b206f56659d7b07d234.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_7840651ac6719b206f56659d7b07d234.setIcon(icon_926a9715da232486282a1b669ad12b5e);
            
    
            var marker_3e3b36e9c41f4d1ef44df3e52c36dd94 = L.marker(
                [53.935510718491685, 27.477333943288897],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_8bde79b9b0aca5cfc366800ff104f517 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_78ee444eb92d9b356a6dff217ae3e9eb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7b386601b027c32bb09ead39c04fdb41 = $(`<div id="html_7b386601b027c32bb09ead39c04fdb41" style="width: 100.0%; height: 100.0%;">проспект Победителей 115А</div>`)[0];
                popup_78ee444eb92d9b356a6dff217ae3e9eb.setContent(html_7b386601b027c32bb09ead39c04fdb41);
            
        

        marker_3e3b36e9c41f4d1ef44df3e52c36dd94.bindPopup(popup_78ee444eb92d9b356a6dff217ae3e9eb)
        ;

        
    
    
            marker_3e3b36e9c41f4d1ef44df3e52c36dd94.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_3e3b36e9c41f4d1ef44df3e52c36dd94.setIcon(icon_8bde79b9b0aca5cfc366800ff104f517);
            
    
            var marker_5174f8f16119b6ab14d85636cd0dca92 = L.marker(
                [53.93837277353842, 27.478256790707405],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_5c9689e5603e80548608b44c0cef0cef = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_3d30fa2f20c34c4d8621c9ffd6ef9b0f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f09f7e2bbc7e076027688705d3ee66c9 = $(`<div id="html_f09f7e2bbc7e076027688705d3ee66c9" style="width: 100.0%; height: 100.0%;">прспект Пераможцаў 102</div>`)[0];
                popup_3d30fa2f20c34c4d8621c9ffd6ef9b0f.setContent(html_f09f7e2bbc7e076027688705d3ee66c9);
            
        

        marker_5174f8f16119b6ab14d85636cd0dca92.bindPopup(popup_3d30fa2f20c34c4d8621c9ffd6ef9b0f)
        ;

        
    
    
            marker_5174f8f16119b6ab14d85636cd0dca92.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_5174f8f16119b6ab14d85636cd0dca92.setIcon(icon_5c9689e5603e80548608b44c0cef0cef);
            
    
            var marker_9b86a13a5bb15059301ace2d978fa3de = L.marker(
                [53.926667400679264, 27.511104732620993],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_b8a87bd548427946cbe8fdc479dbad24 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_2b10ab5e3d1f5f96e48093c8c7dbfa99 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4aa3317eb71a14b4471df0c680b6bb63 = $(`<div id="html_4aa3317eb71a14b4471df0c680b6bb63" style="width: 100.0%; height: 100.0%;">Palazzo Parking</div>`)[0];
                popup_2b10ab5e3d1f5f96e48093c8c7dbfa99.setContent(html_4aa3317eb71a14b4471df0c680b6bb63);
            
        

        marker_9b86a13a5bb15059301ace2d978fa3de.bindPopup(popup_2b10ab5e3d1f5f96e48093c8c7dbfa99)
        ;

        
    
    
            marker_9b86a13a5bb15059301ace2d978fa3de.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_9b86a13a5bb15059301ace2d978fa3de.setIcon(icon_b8a87bd548427946cbe8fdc479dbad24);
            
    
            var marker_9db35a6a5c63caccd50eb1b5cd881575 = L.marker(
                [53.88444553917043, 27.55184066494928],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_cf0247ad137cb1cd0d7269cd123f68b4 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_cf272c66ad2d20e906597dd53995f0e5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_59c8230aa47d1c2a377077d472a64948 = $(`<div id="html_59c8230aa47d1c2a377077d472a64948" style="width: 100.0%; height: 100.0%;">50kWh | БЕЛОРУСНЕФТЬ | ул. Жуковского, 3</div>`)[0];
                popup_cf272c66ad2d20e906597dd53995f0e5.setContent(html_59c8230aa47d1c2a377077d472a64948);
            
        

        marker_9db35a6a5c63caccd50eb1b5cd881575.bindPopup(popup_cf272c66ad2d20e906597dd53995f0e5)
        ;

        
    
    
            marker_9db35a6a5c63caccd50eb1b5cd881575.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_9db35a6a5c63caccd50eb1b5cd881575.setIcon(icon_cf0247ad137cb1cd0d7269cd123f68b4);
            
    
            var marker_023501453cbd8c1668c2909a1be1c5cb = L.marker(
                [53.88401123576401, 27.56288065714989],
                {
}
            ).addTo(map_f2f27d9c09a8a1a2170f864cd2eeaa7e);
        
    
            var icon_eb67eabc5394ca1da79bfa89b2881c02 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_eb5b9f66498bface6a5375e7e12a8c6d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5e6e4db23d2a10adbaa0b764d5d0721b = $(`<div id="html_5e6e4db23d2a10adbaa0b764d5d0721b" style="width: 100.0%; height: 100.0%;">50kWh | БЕЛОРУСНЕФТЬ | ул. Володько, 3</div>`)[0];
                popup_eb5b9f66498bface6a5375e7e12a8c6d.setContent(html_5e6e4db23d2a10adbaa0b764d5d0721b);
            
        

        marker_023501453cbd8c1668c2909a1be1c5cb.bindPopup(popup_eb5b9f66498bface6a5375e7e12a8c6d)
        ;

        
    
    
            marker_023501453cbd8c1668c2909a1be1c5cb.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_023501453cbd8c1668c2909a1be1c5cb.setIcon(icon_eb67eabc5394ca1da79bfa89b2881c02);
            
</script>
</html>